body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
  color: #333;
}

h2 {
  color: #333;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  table {
    box-shadow: none;
    overflow-x: auto;
  }
}

/* Image Container Styles */
.image-container {
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-right: 10px;
}