/* Setting padding for body to accommodate the fixed header */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* Adjust as needed */
  background-color: #f1f0f0;
  color: #333;
  display: flex;
  justify-content: center;
}

.wrapper-container {
    max-width: 600px;
    margin: 5px;
    overflow-x: hidden;
    /* Hide horizontal overflow */
    background-color: #fff;
    border-radius: 13px;
    position: relative;
}

h2 {
  color: #333;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}


.image-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 5px;
  padding: 10px;
}

.image-wrapper {
  display: flex;
  width: fit-content;
  overflow-x: auto;
  transition: transform 0.5s ease; /* Add smooth transition effect */
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-right: 10px;
}

.scroll-button-left {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  background-color: rgba(130, 127, 127, 0.5);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1; /* Ensure the button stays above the images */
  display: flex;
  align-items: center;
}

.scroll-button-right {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  background-color: rgba(130, 127, 127, 0.5);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1; /* Ensure the button stays above the images */
  display: flex;
  align-items: center;
}

.scroll-arrow {
  margin-left: 5px;
  text-align: center;
}

.scroll-button-left:hover {
  background-color: rgba(83, 81, 81, 0.5);
}

.scroll-button-right:hover {
  background-color: rgba(83, 81, 81, 0.5);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

th {
    background-color: #dddddd;
    text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Responsive Styles */
@media screen and (max-width: 40px) {
  table {
    box-shadow: none;
    overflow-x: auto;
    width: 100%;
  }
}